@use 'allFonts' as *;

html,
body {
    margin: 0;
    padding: 0;
}

$fontNormal: 400;
$fontLight: 300;
$fontExtraLight: 200;
$fontBold: 700;
$bodyfont: 'Nunito Sans', sans-serif;
$titlefont: 'Bayon', sans-serif;