@use 'styleguide' as *;

body {
  background-color: wheat;
    font: {
        family: $bodyfont;
        weight: $fontExtraLight;
        size: 1.5em;
    } 
  .darkMode {
    background-color: black !important; 
  }
}


header {
    font: {
        family: 'Overpass Mono', monospace;
        size: 4em;
        weight: $fontBold;
    }
    display: block;
}

#typewriting {
  font-size: 0.6em;
}

#cursor {
  color: #19ca56; //placeholder
}